   body {
      background-color: #f8f9fa;
    }
    .login-container {
      margin-top: 150px;
    }
    .login-container .card {
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .login-container .card-header {
      background-color: #fff;
      border-bottom: none;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    .login-container .card-body {
      padding: 30px;
    }
    .login-container .form-group {
      margin-bottom: 20px;
    }
    .login-container .form-control {
      border-radius: 5px;
    }
    .login-container .btn-login {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
    }
    .login-container .btn-login:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }